@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-xl mt-8 mb-16;
}

.section {
  @apply mt-8 mb-16;
}

.locatorSearch {
  display: flex;
  height: 120px;
  background: #243c5a;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.locatorSearch .breakLocation {
  width: 50%;
}

.locatorSearch .breakLocation .labelTitle p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

button#search-location-button {
  display: inherit;
  float: right;
  width: 10%;
  background: #da0612;
  height: 36px;
  color: #fff;
  font-weight: 600;
}
.locatorSearch .breakLocation .relative.mb-2 {
  float: left;
  width: 90%;
}

.locatorSearch .breakLocation .relative div input{
  border-radius: unset;
}